<div id="login" ng-controller="loginController">
    <div class="section-container tabs" data-section="tabs">
        <section>
            <p id="login_title" data-section-title><a href="#">Login</a></p>
            <div id="login_info" data-section-content>
                <p>
                    <div class="row" style="color: black; font-weight: bold;">
                        <div class="large-12 columns">

                <p class="welcome">Welcome back!</p>

                <form name="loginForm" ng-submit="toLogin()" novalidate>
                    <div class="row collapse">
                        <div class="small-2 columns">
                            <span class="prefix"><i class="step fi-mail size-12"></i></span>
                        </div>
                        <div class="small-10 columns">
                            <div id="id_login" class="login_group"
                                 ng-class="{'has-error': loginForm.email.$invalid && !loginForm.email.$pristine }">
                                <input type="email" name="email" placeholder="Email" ng-model="loginData.email"
                                       required>

                                <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine">Please enter your
                                    email.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns ">
                            <span class="prefix"><i class="step fi-lock size-60"></i></span>
                        </div>
                        <div class="small-10 columns ">
                            <div id="passwd_login" class="login_group">
                                <input type="password" name="passwd" placeholder="Password" ng-model="loginData.passwd"
                                       required>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="small-11 small-centered columns">
                    <div class="choose">
                        <label>Your Choose</label>
                        <a class="inside" ng-click="start()" role="button">Home</a>
                        <a class="inside" ng-click="toLogin()" role="button"
                           ng-disabled="loginForm.$invalid">Login</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>