<div id="login" ng-controller="joinController">
    <div class="section-container tabs" data-section="tabs">
        <section>
            <p id="login_title" data-section-title><a href="#">Join</a></p>
            <div id="login_info" data-section-content><p>
                <div class="row">
                    <div class="large-12 columns">
                        <div id="loing_panel"><p class="welcome">Welcome!</p>
                <form>
                    <div class="row collapse">
                        <div class="small-2 columns">
                            <span class="prefix"><i class="step fi-mail size-60"></i></span>
                        </div>
                        <div class="small-10 columns">
                            <input type="text" placeholder="Email">
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns ">
                            <span class="prefix"><i class="step fi-lock size-60"></i></span>
                        </div>
                        <div class="small-10 columns ">
                            <input type="text" placeholder="Password">
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns">
                            <span class="prefix"><i class="step fi-torso-business size-12"></i></span>
                        </div>
                        <div class="small-10 columns">
                            <input type="text" placeholder="Nickname">
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns">
                            <span class="prefix"><i class="step fi-male-female size-12"></i></span>
                        </div>
                        <div class="button-group" data-grouptype="OR">
                            <button href="#" class="small button primary radius">Male</button>
                            <button href="#" class="small button alert radius">Female</button>
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns">
                            <span class="prefix"><i class="step fi-web size-12"></i></span>
                        </div>
                        <div class="small-10 columns">
                            <select name="nationally">
                                <option value="">Nationally</option>
                                <option value="korea">Korea</option>
                                <option value="japan">Japan</option>
                            </select>
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns">
                            <span class="prefix"><i class="step fi-foot size-12"></i></span>
                        </div>
                        <div class="small-10 columns">
                            <select name="region">
                                <option value="">Region</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="small-11 small-centered columns">
                    <div class="choose">
                        <label>Your Choose</label>
                        <a class="inside" ng-click="home()" role="button">Home</a>
                        <a class="inside" ng-click="" role="button">Join</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>