<div id="login" ng-controller="loginController">
    <div class="section-container tabs" data-section="tabs">
        <section>
            <p id="login_title" data-section-title><a href="#">Login</a></p>
            <div id="login_info" data-section-content><p>
                <div class="row">
                    <div class="large-12 columns">
                        <div id="loing_panel"><p class="welcome">Welcome back!</p>
                            <form>
                                <div class="row collapse">
                                    <div class="small-2 columns">
                                        <span class="prefix"><i class="step fi-mail size-12"></i></span>
                                    </div>
                                    <div class="small-10  columns">
                                        <input type="text" placeholder="Email">
                                    </div>
                                </div>
                                <div class="row collapse">
                                    <div class="small-2 columns ">
                                        <span class="prefix"><i class="step fi-lock size-60"></i></span>
                                    </div>
                                    <div class="small-10 columns ">
                                        <input type="text" placeholder="Password">
                                    </div>
                                </div>
                            </form>
                <div class="small-11 small-centered columns">
                    <div class="choose">
                        <label>Your Choose</label>
                        <a class="inside" ng-click="home()" role="button">Home</a>
                        <a class="inside" ng-click="" role="button">Login</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>